# Junk files
.DS_Store
Desktop.ini
Thumbs.db

# Node / NPM
node_modules/
npm-debug.log

# Vendor folders
vendor/

# Security issues
*/laravel/
composer.lock
exercism/javascript/hello-world/package.json
package-lock.json
yarn.lock
