/**
 * index.css
 */

/*
Type Scale
 */
html {
  font-size: 1em;
}
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}
p {
  margin-bottom: 1.250em;
}
h1, h2, h3, h4, h5 {
  margin: 1.250em 0 0.64em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
small, .font_small {
  font-size: 0.8em;
}

/*
Base
 */
body {
  padding: 1.5rem;
  font-size: 1.25rem;
}
p {
  margin-top: 0;
}

/*
Styles
 */
.pie-chart {
  padding: 50px;
}
.pie-chart g g {
  position: relative;
}
.pie-chart g.windows text {
  transform: translate(120px, -10px);
}
/* .pie-chart g.android text {
  transform: translate(0, 0);
} */
.pie-chart g.ios text {
  transform: translate(-85px, -15px);
}
.pie-chart g.osx text {
  transform: translate(10px, -60px);
}
.pie-chart g.unknown text {
  transform: translate(45px, -100px);
}
.pie-chart g.linux text {
  transform: translate(55px, -130px);
}