/**
 * app.scss
 */

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: #444;
  font-family: sans-serif;
  font-size: 1rem;
}

p {
  margin: 0 0 1.3rem;
}

form :last-child {
  margin-bottom: 0;
}

