/**
 * main.scss
 */

// colors
$crimson: #A20C37;
$eggshell: #FCFCFF;
$gray: #999999;
$lavendar: #BBB6DF;
$rose: #BD6B73;

body {
  font-family: sans-serif;
  font-size: 2rem;
}

.one,
.two,
.three {
  border-radius: 2px;
}

.one {
  background-color: $crimson;
}

.two {
  background-color: $lavendar;
}

.three {
  background-color: $rose;
}

div > p {
  padding: 0.5em 1.0em;
  margin: 0 0 0.5em;
  color: $eggshell;
  text-shadow: 1px 1px 5px $gray;
}
