<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
</head>

<body>
  <div id="root">
    <ul>
      <!-- <li v-for="name in names">{{ name }}</li> -->

      <li v-for="name in names" v-text="name"></li>
    </ul>

    <form class="pure-form" @submit.prevent="submitFunc">
      <fieldset>
        <input id="input" type="text" v-model="newName">
        <button class="pure-button" @click="addName">Submit</button>
      </fieldset>
    </form>
  </div>

  <script src="index.js"></script>
</body>
</html>
