/**
 * main.css
 */

:root {
  --banana: #FDF5A4;
  --dark-gray: #404040;
  --light-gray: #DDDDDD;
  --off-white: #FAFAFA;
}

html, body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  padding: 2.5rem 0;
  font-size: 1.25rem;
}
h1, h2, h3, h4 {
  margin-bottom: 1rem;
}
h1 {
  margin-top: 0;
}