/**
 * main.css
 */

:root {
  --banana: #FDF5A4;
}

html, body {
  min-height: 100%;
}
body {
  padding: 30px;
  background-color: #EEE;
}

#app form span {
  padding: 0.25em 0.375em;
  background-color: var(--banana);
}