## LARAVEL ##

# Main
laravel/*

# App folder
!laravel/app/
laravel/app/*
!laravel/app/Events/
!laravel/app/Http/
laravel/app/Http/*
!laravel/app/Http/Controllers
laravel/app/Http/Controllers/Auth/
!laravel/app/Listeners
!laravel/app/Mail
!laravel/app/Notifications
!laravel/app/Providers
!laravel/app/Services

# Migrations
!laravel/database/
laravel/database/*
!laravel/database/migrations/

# Views
!laravel/resources/
laravel/resources/*
!laravel/resources/views/

# Routes
!laravel/routes/
