# Main
laravel/*

# Migrations
!laravel/database/
laravel/database/*
!laravel/database/migrations/

# Views
!laravel/resources/
laravel/resources/*
!laravel/resources/views/

# Routes
!laravel/routes/
